*.DS_Store
*.o
minishell
/obj
/read_lib
*.dylib
*.so
*.a
/readline_main/Makefile
/readline_main/config.h
/readline_main/config.log
/readline_main/config.status
/readline_main/doc/Makefile
/readline_main/examples/Makefile
/readline_main/history.pc
/readline_main/readline.pc
/readline_main/shlib/Makefile
/readline_main/stamp-h
